.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.btn-add {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid #d50000;
  background: transparent;
  color: #d50000;
  border-radius: 0.2rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.btn-add {
  background: #d50000;
  color: white;
}
